<p class="is-size-4 p-5 has-text-weight-semibold">Welcome, {{username}}!</p>


<div>

    <div class="column m-5">

        <div class="columns is-mobile">

            {{!-- <div class="column m-1">

                <div class="box">
                    <p class="title">Add a story or file</p>
                </div>

            </div> --}}

            <div class="column is-half m-1">
                <div class="box">
                    <p class="title">Your files and posts</p>
                    <div class="box">
                        <table class="table is-striped is-hoverable is-fullwidth">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Group</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>title</td>
                                    <td>group name</td>
                                </tr>
                                <tr>
                                    <td>title</td>
                                    <td>group name</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="column m-1">
                <div class="box">
                    <p class="title">Your Groups</p>
                    <article class="panel is-primary">

                        {{#if groups.length}}
                        {{#each groups as |group|}}

                        <a class="panel-block">
                            <span class="panel-icon">
                                <i class="fa-solid fa-users" aria-hidden="true"></i>
                            </span>
                            <p><a href="/group/{{id}}">{{group_name}}</a></p>
                        </a>
                        {{/each}}
                        {{else}}
                        <a class="panel-block">
                            <span class="panel-icon">
                                <i class="fa-solid fa-users" aria-hidden="true"></i>
                            </span>
                            <p>Template Group Name</p>
                        </a>
                        <p>You do not have any groups yet!</p>
                </div>

                {{/if}}
                </article>
                <button class="js-modal-trigger button is-primary" data-target="modal-newGroup" id="newGroupBttn">
                    Create New Group</button>
            </div>

        </div>

    </div>
</div>

</div>


{{!-- modal --}}
<div id="modal-newGroup" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Create New Group</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <form id="groupForm">
            <section class="modal-card-body">
                <input id="groupName" class="input is-primary" type="text" placeholder="Enter Group Name">
            </section>
            <footer class="modal-card-foot">
                <button type="submit" class="button is-success">Save</button>
            </footer>
        </form>
    </div>
</div>


<script src="/js/groupsHandlers/modal.js"></script>
<script src="/js/groupsHandlers/createGroupHandler.js"></script>