<p class="is-size-4 p-5 has-text-weight-semibold">Welcome, {{username}}!</p>


<div>

    <div class="column m-5">

        <div class="columns is-mobile">

            <div class="column m-1">

                <div class="box">
                    <p class="title">Add a story or file</p>
                </div>

                <div class="box">
                    <p class="title">Create new group</p>
                </div>
            </div>

            <div class="column is-half m-1">
                <div class="box">
                    <p class="title">Your files and posts</p>
                    <div class="box">
                        <table class="table is-striped is-hoverable is-fullwidth">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Group</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>title</td>
                                    <td>group name</td>
                                </tr>
                                <tr>
                                    <td>title</td>
                                    <td>group name</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="column m-1">
                <div class="box">
                    <p class="title">Groups you are in</p>
                </div>
            </div>

        </div>
    </div>

</div>