<div class="columns m-5">


    <div id="groupPosts" class="column is-two-thirds">

        <div class="postTitleBox p-3 my-3 is-flex is-justify-content-space-between">

            <a href="/post/{{id}}"><strong>Post title mockup</strong></a>
            <div>
                <small>By [username] | Date</small>
            </div>

        </div>

        <div class="postTitleBox p-3 my-3 is-flex is-justify-content-space-between">

            <a href="/post/{{id}}"><strong>Post title mockup</strong></a>
            <div>
                <small>By [username] | Date</small>
            </div>

        </div>

        <div class="postTitleBox p-3 my-3 is-flex is-justify-content-space-between">

            <a href="/post/{{id}}"><strong>Post title mockup</strong></a>
            <div>
                <small>By [username] | Date</small>
            </div>

        </div>


    </div>




    <div id="groupMembers" class="column is-4 p-3 my-3">



        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Group Members</th>
                </tr>
            </thead>

            <tbody>
                {{#if groupMembers.length}}
                {{#each groupMembers as |member|}}
                <tr>
                    <td>{{member}}</td>
                </tr>
                {{/each}}
                {{/if}}

                <tr>
                    <td>Lulu</td>

                </tr>
                <tr>
                    <td>Clay</td>

                </tr>
                <tr>
                    <td>Joseph</td>
                </tr>
                <tr>
                    <td>Inna</td>
                </tr>

            </tbody>

        </table>

        <div class="field has-addons">
            <div class="control">
                <input class="input" type="text" placeholder="Add a Member">
            </div>
            <div class="control">
                <a class="button is-info">
                    Search
                </a>
            </div>
        </div>


    </div>