{{#each groups as |group|}}

{{> groupInfo group }}


{{else}}

<h4 class="text-center">There are no groups yet!</h4>

{{/each}}


<div id="mainPage-box">

    <div class="card m-3 p-3 has-text-centered">
        <p class="has-text-weight-semibold is-size-4">Group Title mockup</p>
        <p>date created | Number of members | Number of posts</p>
    </div>
    <div class="card m-3 p-3 has-text-centered">
        <p class="has-text-weight-semibold is-size-4">Group Title mockup</p>
        <p>date created | Number of members | Number of posts</p>
    </div>
    <div class="card m-3 p-3 has-text-centered">
        <p class="has-text-weight-semibold is-size-4">Group Title mockup</p>
        <p>date created | Number of members | Number of posts</p>
    </div>
    <div class="card m-3 p-3 has-text-centered">
        <p class="has-text-weight-semibold is-size-4">Group Title mockup</p>
        <p>date created | Number of members | Number of posts</p>
    </div>

</div>