<div class="p-5 m-5">
    <form class="new-post-form">
        {{!-- title --}}
        <input id="title" class="input mb-5" type="text" placeholder="Post Title">

        <div class="wysiwyg-form">
            <div class="toolbar">
                <div class="line">
                    <div class="card has-background-white">
                        <span class="editor-btn button is-small" data-action="bold" title="bold">
                            <figure class="image is-24x24"><img
                                    src="https://img.icons8.com/fluency-systems-filled/48/000000/bold.png" /></figure>
                        </span>
                        <span class="editor-btn button is-small" data-action="italic" title="italics">
                            <figure class="image is-24x24"><img
                                    src="https://img.icons8.com/fluency-systems-filled/48/000000/italic.png" /></figure>
                        </span>
                        <span class="editor-btn button is-small" data-action="underline" title="underline">
                            <figure class="image is-24x24"><img
                                    src="https://img.icons8.com/fluency-systems-filled/48/000000/underline.png" />
                            </figure>
                        </span>
                        <span class="editor-btn button is-small" data-action="strikeThrough" title="strikethrough">
                            <figure class="image is-24x24"><img
                                    src="https://img.icons8.com/fluency-systems-filled/30/000000/strikethrough.png" />
                            </figure>
                        </span>
                        <span class="editor-btn button is-small" data-action="justifyLeft" data-styles="textAlign: left" title="Justify Left">
                            <figure class="image is-24x24">
                                <img  src="https://img.icons8.com/fluency-systems-filled/48/000000/align-left.png"/>
                            </figure>
                        </span>
                        <span class="editor-btn button is-small" data-action="justifyCenter" data-styles="textAlign: center" title="Justify Center">
                            <figure class="image is-24x24">
                                <img src="https://img.icons8.com/fluency-systems-filled/48/000000/align-center.png"/>
                            </figure>
                        </span>
                        <span class="editor-btn button is-small" data-action="justifyRight" data-styles="textAlign: right" title="Justify Right">
                            <figure class="image is-24x24">
                                <img src="https://img.icons8.com/fluency-systems-filled/48/000000/align-right.png"/>
                            </figure>
                        </span>
                        <span class="editor-btn button is-small" data-action="justifyFull" data-styles="textAlign: justify" title="Justify">
                            <figure class="image is-24x24">
                                <img src="https://img.icons8.com/fluency-systems-filled/48/000000/align-justify.png"/>
                            </figure>
                        </span>
                        <span class="editor-btn button is-small" data-action="insertOrderedList" data-tag-name="ol" title="Insert Ordered List">
                            <figure class="image is-24x24"><img
                                    src="https://img.icons8.com/fluency-systems-filled/48/000000/numbered-list.png" />
                            </figure>
                        </span>
                        <span class="editor-btn button is-small" data-action="insertUnorderedList" data-tag-name="ul" title="Insert Unordered List">
                            <figure class="image is-24x24"><img
                                    src="https://img.icons8.com/fluency-systems-filled/48/000000/bulleted-list.png" />
                            </figure>
                        </span>
                         <span class="editor-btn button is-small" data-action="indent" data-required-tag="li" title="Indent">
                            <figure class="image is-24x24"><img
                                    src="https://img.icons8.com/fluency-systems-filled/48/000000/indent.png" /></figure>
                        </span>
                        <span class="editor-btn button is-small" data-action="outdent" data-required-tag="li" title="Outdent">
                            <figure class="image is-24x24"><img
                                    src="https://img.icons8.com/fluency-systems-filled/48/000000/outdent.png" />
                            </figure>
                        </span>
                        <span class="editor-btn button is-small" data-action="insertHorizontalRule" title="Insert Horizontal Line">
                            <figure class="image is-24x24"><img
                                    src="https://img.icons8.com/fluency-systems-filled/48/000000/horizontal-line.png" />
                            </figure>
                        </span>
                        <span class="editor-btn button is-small" data-action="undo" title="Undo">
                            <figure class="image is-24x24"><img
                                    src="https://img.icons8.com/fluency-systems-filled/48/000000/undo--v1.png" />
                            </figure>
                        </span>
                        <span class="editor-btn button is-small" data-action="removeFormat" title="Remove Formatting">
                            <figure class="image is-24x24"><img
                                    src="https://img.icons8.com/fluency-systems-filled/48/000000/remove-format.png" />
                            </figure>
                        </span>
                    </div>
                </div>

            <div class="content-area" style="margin: 20px">
              <div class="visuell-view" style="border: solid 1px black" contenteditable></div>
            </div>
        </div>
        <div>
            {{#if userGroups.length}}
            {{#each userGroups as |group|}}
            <a href="#" data-group-id="{{group.group_id}}" class="user-groups">
                {{group.group_id}}
            </a>
            {{/each}}
            {{/if}}
        </div>
        <div id="groupIDValue" class="is-hidden">

        </div>



        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="submit" id="submitButton" class="button is-link mt-5">Submit</button>
        </div>
    </form>
</div>


<script src="/wysiwyg.js"></script>
<script src="/js/postsHandlers/submitPostHandler.js"></script>