<div id="login-box">
    <form class="box signup-form">
        <div class="has-text-centered pb-5">
            <figure class="image is-64x64 is-inline-block has-text-centered">
                <img src="/imgs/paper-airplane.png">
            </figure>
            <h1 class="has-text-weight-semibold"> Welcome to Courier!</h1>
            <p>Create an account to get started</p>
        </div>
        <div class="field">
            <label class="label">Username</label>
            <div class="control">
                <input class="input" type="username" placeholder="username">
            </div>
        </div>
        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                <input class="input" type="email" placeholder="e.g. alex@example.com">
            </div>
        </div>

        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input class="input" type="password" placeholder="Must be at least 8 characters long">
            </div>
        </div>
        <div class="has-text-centered pb-4">
            <button class="button is-danger is-outlined mt-4"><i class="fa-solid fa-user-plus pr-2"></i>Sign Up</button>
        </div>
    </form>

    <h2 class="has-text-centered pt-4"><a href="/login">Login</a> instead</h2>

</div>