<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Courier</title>
</head>

<body class="has-background-warning">

    <div id="wrapper">

        {{!--

        <body class="has-background-warning"> --}}
            <!-- NAVBAR -->
            <nav class="navbar " role="navigation" aria-label="main navigation">
                <div class="navbar-brand ">
                    <a class="navbar-item" href="/">
                        <img src="/imgs/paper-airplane.png">
                        <h1 class="is-size-4 has-text-weight-semibold">Courier</h1>
                    </a>
                </div>


                <div class="navbar-end">
                    <div class="navbar-item">

                        {{#if logged_in}}
                        <div class="buttons">
                            <a href="/dashboard" class="px-4">My Dashboard</a>
                            <a id="logout" class="button is-danger is-outlined px-3">Logout<i
                                    class="fa-solid fa-right-from-bracket pl-2"></i></a>
                        </div>

                        {{else}}
                        <div class="">
                            <a class="button is-success is-outlined" href="/login">Log in<i
                                    class="fa-solid fa-right-to-bracket pl-2"></i></a>
                            <a class="button is-danger is-outlined" href="/signup"><i
                                    class="fa-solid fa-user-plus pr-2"></i>Sign up</a>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </nav>

            {{!-- </nav> --}}



            <main>

                {{{ body }}}


                {{#if logged_in}}
                <script src="/js/logout.js"></script>
                {{/if}}

            </main>

    </div>
    <footer id="footer">
        <div class="content has-text-centered is-size-7">

            <strong>Courier</strong> by
            <a href="https://github.com/joejhansen">Joseph Hansen</a>,
            <a href="https://github.com/katarinamihaylovich">Katarina Mihaylovich</a>,
            <a href="https://github.com/cmckee120993">Clay McKee</a> and
            <a href="https://github.com/WrittenInnaCode">Inna Sherstnyova</a>.
            &copy;
            <script>document.write(new Date().getFullYear());</script>

        </div>
    </footer>

</body>

</html>