<link rel="stylesheet" href="./css/info.css">
<div id="info-section" class="columns is-centered">
    <div id="info-buffer" class="column is-two-thirds">
        <div id="info-slate" class="columns">
            <div class="page-strap-top-left"></div>
            <div id="info-main" class="column">
                {{!-- <div class="hero">
                    <h1 class="center-text">Test</h1>
                </div> --}}
                <div class="columns info-columns">
                    <div class="column info-column">
                        <div class="info-column-head">
                            <p>Welcome to</p>
                            <p class="courier-logo"><span><img id="info-vector"
                                        src="/imgs/paper-airplane.png"></span>Courier </p>
                        </div>
                        <div class="info-column-content">
                            <p id="top-column-text">Courier is a web application built for and by writers with the goal
                                to connect
                                storytellers through a tool that is secure, intuitive, and free.</p>
                        </div>
                    </div>
                </div>
                <div class="columns mid-banner">
                    <span class="page-strap-mid-banner-left"></span>
                    <div class="column mid-banner-buffer">
                        <p class="mid-banner-info">The Pitch</p>
                    </div>
                    <span class="page-strap-mid-banner-right"></span>
                </div>
                <div class="columns info-columns">
                    <div class="column info-column popout">
                        <p class="info-column-head">Charter</p>
                        <div class="info-column-content">
                            <p>&emsp;Our end goal is to produce a professional grade document editor able to process
                                industry leading file formats on a web-based, collaborative workspace for dynamic
                                version and draft control.</p>
                            <br>
                            <p>&emsp;Like a GitHub for storytellers, you won't ever have to worry about clunky email
                                attachments, suspicious flash drives, or tracking down each and every change to your
                                novel, screen, or stageplay when you're connected with Courier.</p>
                            <br>
                            <p>&emsp;Use Courier for writers groups, writers rooms, writing classes or writing...
                                anything!</p>
                            <br>
                            <p>&emsp;Privacy and propriety is key in any creative industry, so our goal is to keep your
                                data and intelectual property 100% safe. That said, <b>Courier is
                                    currently in Alpha and SHOULD NOT BE USED AS A SECURE STORAGE SOLUTION FOR YOUR
                                    COPYRIGHTED MATERIALS</b></p>
                            <br>
                            <p id="yet">... yet.</p>
                        </div>
                    </div>
                    <div class="column write-share-go">
                        <div class="columns info-write">
                            <div class="column info-column popout">
                                <p class="info-column-head">Write</p>
                                <div class="info-column-content">
                                    <p>&emsp;Sign up for free and write your story directly from the web text editor or import a
                                        variety
                                        of formatted documents including pdf, docx, fdx, and anything else locked behind a de-facto paywall.</p>
                                </div>
                            </div>
                        </div>
                        <div class="columns info-share">
                            <div class="column info-column popout">
                                <p class="info-column-head">Share</p>
                                <div class="info-column-content">
                                    <p>&emsp;Join or create a group to securely share and edit documents. Leave notes, suggest revisions, and track changes
                                        line by line to always know what draft you're on.</p>
                                </div>
                            </div>
                        </div>
                        <div class="columns info-go">
                            <div class="column info-column popout">
                                <p class="info-column-head">Go!</p>
                                <div class="info-column-content">
                                    <p>&emsp;Go public to explore and contribute to an ecosystem of ideas, advice,
                                        outlines,
                                        stunt choreo, car chases, period pieces, action-thrillers, sci-fi universes, and
                                        anything else you can imagine.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns mid-banner">
                    <div class="page-strap-mid-banner-left"></div>
                    <div class="column mid-banner-buffer">
                        <p class="mid-banner-info">Current Functionality</p>
                    </div>
                    <div class="page-strap-mid-banner-right"></div>
                </div>
                <div class="columns info-columns">
                    <div class="column write-share-go">
                        <div class="columns info-write">
                            <div class="column info-column popout">
                                <p class="info-column-head">Sign Up</p>
                                <div class="info-column-content">
                                    <p>&emsp;Create an account by clicking "sign up" in the header. Encrypted passwords
                                        and session persistence will allow you to explore the site.</p>
                                </div>
                            </div>
                        </div>
                        <div class="columns info-share">
                            <div class="column info-column popout">
                                <p class="info-column-head">Make a Group</p>
                                <div class="info-column-content">
                                    <p>&emsp;Name your group and add existing users to it. Currently, only group members
                                        can access the individual group pages and their associated posts</p>
                                </div>
                            </div>
                        </div>
                        <div class="columns info-go">
                            <div class="column info-column popout">
                                <p class="info-column-head">Share a Post</p>
                                <div class="info-column-content">
                                    <p>&emsp;Use our WYSIWYG editor to write and format your manuscript and post it to a
                                        group you're a member of. You can also leave your comments for the rest of the
                                        group to see and reply to.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column info-column popout">
                        <p class="info-column-head">How You Can Help</p>
                        <div class="info-column-content">
                            <p>If you...
                                <span class="want-list">
                                    <ul>
                                        <li>like the site...</li>
                                        <li>want more control over your creative ideas...</li>
                                        <li>want a better collaborative solution for your writers room...</li>
                                        <li>hate
                                            paying up to $250 up-front (and $100 for each new version upgrade) for the
                                            "industry
                                            standard" programs...</li>
                                    </ul>
                                </span> share the site with your colleagues and friends or get in
                                contact
                                with the creators through our GitHub links below.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="columns mid-banner">
                    <div class="page-strap-mid-banner-left"></div>
                    <div class="column mid-banner-buffer">
                        <p class="mid-banner-info">TL;DR</p>
                    </div>
                    <div class="page-strap-mid-banner-right"></div>
                </div>
                <div class="columns info-columns">
                    <div class="column info-column">
                        <div class="info-column-head">
                            <p>Sign Up and Test it Out</p>
                        </div>
                        <div class="info-column-content">
                            <p id="top-column-text">If you find any bugs or security flaws, please create an issue in
                                the GitHub or email</p>
                            <p id="top-column-text"> the site administrator at <a
                                    href="mailto:josephjameshansen@gmail.com?subject=Bug Report for Courier">josephjameshansen@gmail.com</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-strap-bottom-right"></div>
        </div>
    </div>
</div>