<link rel="stylesheet" href="/css/single-post-style.css">
<div class="p-5 m-5">
    <form class="new-post-form">
        <input id="title" class="input mb-5" type="text" placeholder="Post Title">
        <div class="wysiwyg-form">
            <div class="line">
                <div id="toolbar" class="box">
                    <div class="block">
                        <span class="editor-btn button" data-action="bold" title="bold">
                            <img class="editor-images"
                                src="https://img.icons8.com/fluency-systems-filled/48/000000/bold.png" />
                        </span>
                        <span class="editor-btn button" data-action="italic" title="italics">
                            <img class="editor-images"
                                src="https://img.icons8.com/fluency-systems-filled/48/000000/italic.png" />
                        </span>
                        <span class="editor-btn button" data-action="underline" title="underline">
                            <img class="editor-images"
                                src="https://img.icons8.com/fluency-systems-filled/48/000000/underline.png" />
                        </span>
                        <span class="editor-btn button" data-action="strikeThrough" title="strikethrough">
                            <img class="editor-images"
                                src="https://img.icons8.com/fluency-systems-filled/30/000000/strikethrough.png" />
                        </span>
                    </div>
                    <div class="block">
                        <span class="editor-btn button" data-action="justifyLeft" data-styles="textAlign: left"
                            title="Justify Left">
                            <img class="editor-images"
                                src="https://img.icons8.com/fluency-systems-filled/48/000000/align-left.png" />
                        </span>
                        <span class="editor-btn button" data-action="justifyCenter" data-styles="textAlign: center"
                            title="Justify Center">
                            <img class="editor-images"
                                src="https://img.icons8.com/fluency-systems-filled/48/000000/align-center.png" />
                        </span>
                        <span class="editor-btn button" data-action="justifyRight" data-styles="textAlign: right"
                            title="Justify Right">
                            <img class="editor-images"
                                src="https://img.icons8.com/fluency-systems-filled/48/000000/align-right.png" />
                        </span>
                        <span class="editor-btn button" data-action="justifyFull" data-styles="textAlign: justify"
                            title="Justify">
                            <img class="editor-images"
                                src="https://img.icons8.com/fluency-systems-filled/48/000000/align-justify.png" />
                        </span>
                    </div>
                    <div class="block">
                        <span class="editor-btn button" data-action="insertOrderedList" data-tag-name="ol"
                            title="Insert Ordered List">
                            <img class="editor-images"
                                src="https://img.icons8.com/fluency-systems-filled/48/000000/numbered-list.png" />
                        </span>
                        <span class="editor-btn button" data-action="insertUnorderedList" data-tag-name="ul"
                            title="Insert Unordered List">
                            <img class="editor-images"
                                src="https://img.icons8.com/fluency-systems-filled/48/000000/bulleted-list.png" />
                        </span>
                        <span class="editor-btn button" data-action="indent" data-required-tag="li" title="Indent">
                            <img class="editor-images"
                                src="https://img.icons8.com/fluency-systems-filled/48/000000/outdent.png" />
                        </span>
                        <span class="editor-btn button" data-action="outdent" data-required-tag="li" title="Outdent">
                            <img class="editor-images"
                                src="https://img.icons8.com/fluency-systems-filled/48/000000/indent.png" />
                        </span>
                        <span class="editor-btn button" data-action="insertHorizontalRule"
                            title="Insert Horizontal Line">
                            <img class="editor-images"
                                src="https://img.icons8.com/fluency-systems-filled/48/000000/horizontal-line.png" />
                        </span>
                    </div>
                    <div class="block">
                        <span class="editor-btn button" data-action="undo" title="Undo">
                            <img class="editor-images"
                                src="https://img.icons8.com/fluency-systems-filled/48/000000/undo--v1.png" />
                        </span>
                        <span class="editor-btn button" data-action="removeFormat" title="Remove Formatting">
                            <img class="editor-images"
                                src="https://img.icons8.com/fluency-systems-filled/48/000000/remove-format.png" />
                        </span>
                    </div>
                </div>
                <div id="newPostTextArea" class="box">
                    <div class="content-area" id="newPostText">
                        <div class="visuell-view textarea" id="textArea"
                            style="border: solid 1px black; height: max-content; overflow: scroll;"
                            placeholder="Div placeholder..." contenteditable="true">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/wysiwyg.js"></script>
        <div class="user-groups" class="control">
            <div class="select">
                <select id="groupDropDown" data-group-id="">
                    <option value="null" selected="selected">Select a Group</option>
                    {{#if userGroups.length}}
                    {{#each userGroups as |userGroup|}}

                    <option value="{{userGroup.group_id}}" data-group-id="{{userGroup.group_id}}">
                        {{userGroup.group.group_name}}
                    </option>

                    {{/each}}
                    {{/if}}
                </select>
            </div>
        </div>
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="submit" id="submitButton" class="button is-link mt-5">Submit</button>
        </div>
    </form>
</div>



<script src="/js/postsHandlers/submitPostHandler.js"></script>